.nav_container {
  display: flex;
  flex-direction: column;
  grid-area: n;
  min-height: 85vh;
  background-color: #303030;
  padding: 10px 0 0 20px;
  border-radius: 4px;
}

.nav_item {
  margin-top: 10px;
}

.nav_item a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.nav_item a:hover {
  cursor: pointer;
  color: #def202;
  transition: 0.3s;
}

.nav_item_set {
  margin: 25px 0 10px 0;
}

.nav_item a.activeLink {
  color: #e0265e;
}

/*.active:hover {*/
/*  color: #e0265e;*/
/*}*/
